@page "/About"

<!--/**
 * Author: Joel McGillivray
 *
 * Brief summary of page:
 * This page is only for a disclaimer to anyone who stumbles on the page. It would under other normal circumstances list 
 * information about the website, store, owner, open from etc. 
 */-->

<h1 class="text-center">* Disclaimer... Please Read *</h1>

<p class ="text-center"> This is not a real website. Anything you see on this website is only a mockup for a software assignment.</p>

<p class="text-center"> The credit card entry and checkout does work, so please do not enter your information in there. </p>

<p class="text-center"> The owner of this website is not responsible should you continue. Use at own risk.</p>

@code {
}
