@page "/Services"

<!--/**
* Author: Joel McGillivray
*
* Brief summary of page:
* This page would normally contain the services that the store contains, but is displaying another disclaimer for 
* anyone who stumbles on this page. However, there are other pieces that are here that would be expanded on.
*/-->

<h2 class="text-center">We offer delivery through the postal services.</h2>

<h3 class="text-center">We currently do not have an in-person store.</h3>

<p class="text-center">*Disclaimer -- This is a mock website for a project. 
    Please do not enter in a real credit card*</p>

@code {
}
