@page "/UserManagement"

<!--/**
* Author: Joel McGillivray
*
* Brief summary of page:
* This page is out of scope for the project and remains empty. Ready to use should I choose to expand this
* project even further in the future for continuous learning, and as a project I can show potential employers.
*/-->

<a class="btn btn-primary" href="/" role="button">
    <i class="bi bi-arrow-left-circle"></i> Home
</a>

<h3 class="text-center">User Management</h3>

<h3 class="text-center">Out of scope for this project</h3>


@{
}

